name: zeta_flutter_workspace

environment:
  sdk: ^3.8.0

dev_dependencies:
  melos: ^7.4.0

workspace:
  - packages/zeta_flutter
  - packages/zeta_flutter_theme
  - packages/zeta_flutter_utils
  - packages/zeta_icons
  - example/
  - widgetbook/

melos:
  command:
    publish:
      hooks:
        pre: |
          dart format packages --fix
          dart fix --apply

  scripts:
    doc: dart doc packages/zeta_flutter
    build_runner:
      exec: dart run build_runner build -d
    test:
      run: rm -rf .coverage && melos test_individual && bash scripts/lcov_combine.sh

    test_individual:
      run: bash ../../scripts/cov_move.sh
      exec:
        failFast: true
        concurrency: 1

    pana: melos exec -- bash ../../scripts/pana.sh
    test_counter: dart run scripts/test-counter/test_counter.dart
