name: zeta_flutter
version: 0.8.1
description: Zeta is the new, formal, standardized Zebra Design System based off
  the successes of ZDS (Zebra Design System). This package is in pre-release,
  and so many aspects are incomplete.
homepage: https://github.com/zebradevs/zeta_flutter
repository: https://github.com/zebradevs/zeta_flutter
issue_tracker: https://github.com/zebradevs/zeta_flutter/issues
documentation: https://zeta-ds.web.app/flutter/dartdoc/index.html

platforms:
  android:
  ios:
  macos:
  web:
  windows:
  linux:

environment:
  sdk: ">=3.2.0 <4.0.0"
  flutter: ">=3.16.0"

dependencies:
  collection: ^1.18.0
  flutter:
    sdk: flutter
  flutter_slidable: ^3.1.0
  intl: ^0.18.1
  mask_text_input_formatter: ^2.9.0

dev_dependencies:
  zds_analysis: ^1.0.0

flutter:
  fonts:
    - family: IBMPlexSans
      fonts:
        - asset: lib/src/assets/fonts/IBMPlexSans-Light.otf
          weight: 300
        - asset: lib/src/assets/fonts/IBMPlexSans-Regular.otf
          weight: 400
        - asset: lib/src/assets/fonts/IBMPlexSans-Medium.otf
          weight: 500
    - family: zeta-icons-round
      fonts:
        - asset: lib/src/assets/fonts/zeta-icons-round.ttf
    - family: zeta-icons-sharp
      fonts:
        - asset: lib/src/assets/fonts/zeta-icons-sharp.ttf
  assets:
    - lib/src/assets/flags/
  uses-material-design: true
