name: CI - On Main
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  deploy-qa-demo:
    name: Deploy preview version of the storybook on firebase
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          cache: true
          channel: stable
          flutter-version: 3.24.x # TODO UX-1347
      - name: Setup flutter
        run: flutter pub get
      - name: Build example app
        run: |
          cd example
          flutter build web -t widgetbook/main.dart -o ../build --no-tree-shake-icons
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_ZETA_DS }}"
          channelId: "live"
